body{
background-image: url(../img/estadio.png);
height: 90vh;
grid-template-columns: 1fr;
grid-template-rows: 80px 1fr 100px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.historia{
    width: 60%;
    margin: 30px;
    padding: 25px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}

.historia h1{
    margin-bottom: 20px;
    color: #000;
}

.historia p{
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
}

.historia span{
    font-weight: bold;
    color: darkred;
}

.paises{
    margin-left: 50px;
}

.paises img{
    width: 400px;
    margin: 20px;
    transition: 0.3s;
}

.paises img:hover{
    transform: scale(1.1);
}

h2{
    color: rgba(0, 0, 0, 0.877);
    margin-left: 50px;
    font-size: 4em;
    margin: 30px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgba(0,0,0,0.5);
}

.logo{
    flex: 1;
}

.logo h1{
    color: white;
    font-size: 40px;
}

nav ul{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

nav ul li a:hover{
    color: #ff3131;
}

.espaco{
    flex: 1;
}

.formulario{
    width: 60%;
    margin: 40px auto;
    padding: 25px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 10px;
}

.formulario h2{
    text-align: center;
    margin-bottom: 10px;
}

.formulario p{
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}